{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contents">


            <div class="container-fluid">
                <div class="note-wrapper">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="breadcrumb-main">
                                <h4 class="text-capitalize breadcrumb-title">A note about this platform</h4>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="note-contents">
                                <div class="note-sibebar-wrapper mb-30">

                                    <div class="card mb-25">
                                <div class="card-body text-center p-0">

                                    <div class="account-profile border-bottom pt-25 px-25 pb-0 flex-column d-flex align-items-center ">
                                        <div class="ap-img mb-20 pro_img_wrapper">
                                            <input id="file-upload" type="file" name="fileUpload" class="d-none">
                                            <label for="file-upload">
                                                <!-- Profile picture image-->
                                                <img class="ap-img__main rounded-circle wh-120" src="{% static 'assets/img/ing.png' %}" alt="profile">
                                                
                                            </label>

                                        </div>
                                        <div class="ap-nameAddress pb-3">
                                            <h5 class="ap-nameAddress__title">I Nyoman Gurnitha</h5>
                                            <p class="ap-nameAddress__subTitle fs-14 m-0">A Web Developer, After 60</p>
                                            <p class="ap-nameAddress__subTitle fs-14 m-0">0895 3251 8334 9</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                </div>
                                <!-- ends: .col-lg-2 -->
                                <div class="note-grid-wrapper mb-30">
                                    <div class="notes-wrapper">
                                        <div class="note-grid">
                                            <div class="note-single">
                                                <div class="note-card note-important">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">Tentang Platform ini<span class="note-status"></span></h4>
                                                            <p class="note-excerpt">
                                                            	Saya rancang secara khusus platform ini berdasarkan riset dan pengamatan
                                                            	saat bekerja di Perwakilan RI di Argentina, Bulgaria dan Vietnam.
                                                            	
                                                            </p>
                                                            <p class="note-excerpt">
                                                            	Oleh karenanya platform ini sangat sesuai dengan kebutuhan Perwakian RI.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="note-single">

                                                <div class="note-card note-social">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">Mengapa sesuai dengan kebutuhan Perwakilan?<span class="note-status"></span></h4>
                                                            <p class="note-excerpt">
                                                            Berjuta orang pernah menjadi mitra kerja Perwakilan sejak Pemri
                                                            membuka Perwakilannya di Luar Negeri. Namun karena tidak memiliki
                                                            platfom, 'aset sangat berharga' Perwakilan itu menguap dari waktu ke waktu
                                                            seiring pergantian Home Staff.
                                                        	</p>
                                                            <p class="note-excerpt">
                                                            Dan platform ini akan mengakhiri masalah tersebut.
                                                        	</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="note-single">

                                                <div class="note-card note-personal">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">Empowering Pencinta Indonesia<span class="note-status"></span></h4>
                                                            <p class="note-excerpt">
                                                            	Karena tidak memiliki data digital, sangat sulit bagi Perwakilan untuk memberdayakan
                                                            	para pencinta Indonesia yang bertebaran di berbagai pelosok dunia.
                                                            </p>
                                                            <p class="note-excerpt">
                                                            	Platform ini dapat membantu Perwakilan mendata mitra kerjanya.
                                                            	
                                                            </p>
                                                            <p  class="note-excerpt">Bila data telah terkumpul dan ada ditangan,
                                                            	maka banyak hal bisa dilakukan untuk memenangkan kepentingan Indonesia dengan
                                                            	memberdayakan para pencinta Indonesia.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="note-single">

                                                <div class="note-card note-default">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">Mengapa platform ini saya bangun? <span class="note-status"></span></h4>
                                                            <p class="note-excerpt">1. Untuk menguji keterampilan saya sebagai Web Developer dan Database Designer. Saya menekuni hal ini
                                                            sejak mengundurkan diri pada 2012.</p>
                                                            <p class="note-excerpt">2. Untuk membantu Menlu menjawab pertanyaan Presiden, jika ditanya, 'Berapa banyak mitra kerja dan pencinta Indonesia saat ini diseluruh dunia?'</p>
                                                            <p class="note-excerpt">3. Bukan hanya itu, Menlu pun dapat dengan mudah memamparkan data terkini,
                                                            per wilayah, bahkan per Perwakilan dan per Bidang. Per profesi, by usia dan gender and many more ...</p>
                                                            <p class="note-excerpt">4. Untuk membantu setiap Kepri memotitor dan mendaya-gunakan mitra kerja dan pencinta Indonesia di wilayah akreditasinya. Dan tentu untuk membantu beliau menjawab pertanyaan yang sama seperti di atas, jika di tanya oleh Presiden.</p>
                                                            <p class="note-excerpt"></p>
                                                            <p class="note-excerpt"></p>
                                                            <p class="note-excerpt"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="note-single">

                                                <div class="note-card note-work">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">Keamanan?<span class="note-status"></span></h4>
                                                            <p class="note-excerpt">Keamanan data tentu menjadi pertimbangan pertama dan utama.</p>
                                                            <p class="note-excerpt">Oleh karenanya saya memilih Framework Django untuk membangun platform ini.</p>
                                                            <p class="note-excerpt">Framework Django telah teruji puluhan tahun dan digunakan oleh banyak platform
                                                            ternama di dunia.</p>
                                                            <p class="note-excerpt">Namun demikian, tidak ada yang bisa menjamin 100% keamanan data sepanjang menggunakan internet.</p>
                                                            <p class="note-excerpt">Daripada data menguap sendiri seiring waktu, maka lebih baik didata, dikelola dan didaya-gunakan.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="note-single">
                                                <div class="note-card note-important">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="note-title">What else?<span class="note-status"></span></h4>
                                                            <p class="note-excerpt">Contact Manager ini adalah sebuah aplikasi, layaknya sebuah platform.
                                                            Ia memiliki 3 aplikasi (3 in 1) di dalamnya, Team App, Contact App dan Task App. </p>
                                                            <p class="note-excerpt">Ketiga aplikasi itu akan sangat membantu Perwakilan dalam
                                                            menjalankan dan memonitor pelaksanaan tugasnya.</p>
                                                            <p class="note-excerpt">Kinerja pun mudah ditakar secara akurat karena dukungan data.</p>
                                                            <p class="note-excerpt"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- ends: .col-lg-10 -->
                            </div>
                        </div><!-- ends: .col-lg-12 -->
                    </div>
                </div>

                <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body pb-0">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <form action="/">
                                    <div class="form-group mb-25">
                                        <label for="text">Title</label>
                                        <input type="text" class="form-control" placeholder="Note Title" id="text">
                                    </div>
                                    <div class="form-group mb-25">
                                        <label for="textarea">Description</label>
                                        <textarea id="textarea" class="form-control" placeholder="Note Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="n-labels">Note Label</label>
                                        <select class="form-control" id="n-labels">
                                            <option>Social</option>
                                            <option>Work</option>
                                            <option>Personal</option>
                                            <option>Important</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer note-submit-btn d-flex justify-content-end flex-wrap border-top-0 m-n1 px-30 pb-25">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ends: .atbd-page-content -->



        </div>

{% endblock content %}